body{
    margin: 0;
    font-family: "poppins", sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

p{
    color: dimgray;
}
.one{
    color: orange;
}
.two{
    width: 40% ;
    float: left ;
    margin-left: 5%;
    padding-left: 2%;
}
.two img{
    width:100% ;
    margin-top: 25px;
    margin-left: 50px;
}
.three{
    background-image: url("imagas/top-banner.png") ; 
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.four{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgba(81, 18, 208, 0.856);
    font-weight: 700;
}
.five{
    background-image: url(imagas/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.six{
    color: rgb(23, 184, 130);
}
.eight{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 90%;
    background-color: white;
}
.nine{
    color: rgb(115, 6, 224);
}
.seven{
    background-image: url("imagas/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#one{
    border-left: 7px solid ;
    border-image: linear-gradient(rgb(83, 30, 9), rgb(125, 92, 87));
    border-image-slice: 1;

}
#two{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}